<html>
<head>
<title>partthree.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
partthree.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/scenc&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerVertical=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/scenc&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/box3&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;1060dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;700dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentEnd=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentRight=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/box3&quot; </span><span class="s2">/&gt; 
 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/book3&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;675dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/book3&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button1&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/button_back&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button2&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentEnd=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentRight=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignTop=</span><span class="s3">&quot;@+id/button1&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/button_next&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/trees&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;300dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;280dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;250dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;110dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/trees&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/trees1&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;300dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;300dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/trees1&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/sungthong&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;300dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;350dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;250dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/sungthong&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/chicken1&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;230dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;150dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;200dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;450dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/animate_chicken&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/home1&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;400dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;630dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/animate_home&quot; </span><span class="s2">/&gt; 
 
 
&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>